body {
    background-color: #D4F1F4;
    text-align: center;
    
}
main {
    display:inline-block;
}

 /* ref https://github.com/gtnq/horiseon/blob/main/assets/css/style.css */
header { 

    padding: 20px;
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    float: left;
    
}

header nav{               
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    
}
 
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* ==================split==================*/


article.intro 
{
    display:flex;
    width:50%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    background-color: #75E6DA;
}
    
/* ref 
https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
*/


aside.avatar img{
    padding-top: 20px;
    -ms-flex:0 0 49.333333%;
    flex:0 0 49.333333%;
    max-width:49.333333%;
    padding-right: 30px;
    
}

aside.contact{
    -ms-flex:0 50 66.666667%;
    flex:0 0 50.666667%;
    max-width:50.666667%;
}
aside.contact ul{
    list-style-type: none;
}


/* ==================split==================*/


article.intro {
    
}

article.projects img.project1{
    padding: 20px;
    flex:0 0 60%;
    max-width: 60%;
    
}
article p.project1 {
}

h4 {
    font-size:50px;
}










