* {
    background-color: #CAE9F5;
    text-align: center;
}
main {
    display:flex;
    overflow: auto;
    
    display:inline-block;
}
header { /* reduced number of fonts used that takes no effect on the origin website*/
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    float: left;
    
}
           


header nav{               
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    
    font-size: 20px;
}
 
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*uselessupdate8*/