* {
    background-color: #CAE9F5;

    text-align:center;
}
main {
    
    
    display:inline-block;
}

 /* ref https://github.com/gtnq/horiseon/blob/main/assets/css/style.css */
header { 
    padding: 20px;
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
    float: left;
    
}

header nav{               
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
 
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

article.intro {
    display:flex;
}

/* ref 
https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css
*/

aside.avatar img{
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
}

aside.contact{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%;
}
aside.contact ul{
    list-style-type: none;
}

article.intro {
    display:flex;
}

article.projects img.project1{
    padding: 20px;
    flex:0 0 60%;
    max-width: 60%;
}
article p.project1 {
}











